main{
    border-right: 1px solid #b8b6b617;
    background-color: rgb(15, 15, 15);
}
main h1 {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
}


#video {
    width: 100%;
    position: relative;
    padding-bottom: 59%;
    margin: 0px -20px 20px -29px;
    right: -2%;
}
#video iframe{
    position: absolute;
    top: 5%;
    left: 7%;
    width: 90%;
    height: 90%;
}
#menu-video {
 display: flex;
 justify-content: space-around;
 padding: 10px;
 margin-bottom: 20px;
 align-items: center;
    
}
#menu-video a{
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
}
#menu-video a:hover{
    text-decoration: underline;
    cursor: pointer;
}

